:root {
  --mainColor: #fd7479;
  --navbarGray: #f8f9fa;
  --fadedGray: #aaa;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
}


/* Top Bar section  */
.top-bar {
  height: 1rem;
  width: 100%;
  background-color: var(--mainColor);
}


/* Navbar section  */
.navbar .navbar-brand img {
  height: 4rem;
  width: auto;
}

.navbar .navbar-toggler .navbar-toggler-icon-custom {
  color: var(--mainColor);
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
  margin-right: 1rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: var(--fadedGray);
}

.navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: var(--mainColor);
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
  
}


/* Main Page section  */
.mainpage {
  min-height: 75vh;
  margin-top: 2rem;
  border: 0.1rem solid var(--mainColor);
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin: 1rem 2rem;
}

.quote-img {
  display: flex;
  justify-content: center;
}

.quote-img img{
  width: auto;
  height: auto;
}

.quote {
  text-transform: uppercase;
  color: var(--fadedGray);
}

.blockquote {
  display: flex;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
  padding: 2rem 1rem;
}

.blockquote-footer {
  margin-top: 0.8rem;
 }

cite {
  color: var(--mainColor);
}


/* Footer section  */
.footer {
  background-color: var(--navbarGray);
  min-height: 5rem;
  padding: 2rem;
}

#copyright-span {
  font-size: 0.7rem;
  text-align: center;
}



@media all and (max-width: 480px) {
  .navbar .navbar-brand img {
    height: 2.5rem;
  }
  .navbar-toggler {
    margin-left: 4rem;
  }
  .nav-item .nav-link {
    text-align: right;
    margin-right: 0.5rem;
  }
  .mainpage {
    min-height: 60vh;
    border: 0.04rem solid var(--mainColor);
  }
  .mainpage h1 {
    font-size: 2rem;
  }
}