:root {
  --mainColor: #fd7479;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
}


/* Top Bar section  */
.top-bar {
  height: 1rem;
  width: 100%;
  background-color: var(--mainColor);
}


/* Navbar section  */
.navbar .navbar-brand img {
  height: 3rem;
  width: 14rem;
}


/* Main Page section  */
.mainpage {
  min-height: 75vh;
}


@media all and (max-width: 480px) {
  .mainpage {
    min-height: 60vh;
  }

  .mainpage h1 {
    font-size: 2rem;
  }
}